#tablaDeValores {

}
header{
  margin: 30px;
  padding: 15px;
  text-align: center;
  background-image: url("imagenes/pexels-anna-nekrashevich-6801648.jpg");
  border-style: solid;
  border-width: 2px;
  border-radius: 20px/10px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight:  bold;
  width: 1000px;
}
#titulo{
  font: bold 26px Verdana, sans-serif;
}

p1{
  text-align: center;
  background-image: url("imagenes/pexels-anna-nekrashevich-6801648.jpg");
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight:  bold;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
thead { background: transparent; }
td, th { background: #F8F8F8; }

article header{
  color: blue;
  border-color: crimson;
  width: auto;
}
